.header{
   color: cyan;
   background-color: black; 
   border: solid;
  
   
}

.menu{
   display: flex;
   justify-content: center;
   background-color: red;
   color: black;
   border-radius: 30px 30px 30px 30px;
}
.menu2{
   display: flex;
   justify-content: space-evenly;
   background-color:black  ;
   color:cyan;
}

.body{
   display: flex;
   justify-content: space-evenly;
   text-align: left;
   background-color: black;
   color: red;
}
 
.grid{
   display: flex;
   flex-wrap: wrap;
   background:purple ;
   background-color:cyan;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   text-align: left;
}

.grid img{
   border:2px solid black;
   border-radius: 30px;
}
.origami{
 border-radius:30px;
 background-color:white;
 text-align: center;
 width:310px;
 font-style: italic;
font-family: cursive;
}

.footer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color:red;
color:cyan;
text-align: center;
}
